{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block styles %} 
<link href="{% static 'style-home.css'%}" rel="stylesheet"/>
<script src="{% static 'script.js'%}"></script>
<script>
    const loadBilanUrl = "{% url 'load_bilan' %}";
    const loadQcmUrl = "{% url 'load_qcm' %}";
</script>
{% endblock %}

{% block content %}
    <h1>Bienvenue {{user.username}} :3</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
  
    <h1>Bilan</h1>
    <div class="drop_zone" id="bilan_drop_zone" ondrop="dropHandler(event, 'bilan');" ondragover="event.preventDefault();">
        <p>Glissez déposez un bilan <strong>ici</strong>.</p>
    </div>
    
    <h1>QCM</h1>
    <div class="drop_zone" id="qcm_drop_zone" ondrop="dropHandler(event, 'qcm');" ondragover="event.preventDefault();">
        <p>Glissez déposez un ou plusieurs qcm <strong>ici</strong>.</p>
    </div>
{% endblock %}