{% extends "base.html" %}
{% load static %}

{% block title %}
Mot de passe oublié
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style_forgotpwd.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="forgot-password-container">
    <div class="forgot-password-box">
        <h2>Mot de passe oublié ?</h2>
        <form method="POST">
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <td>
                        <input 
                            type="email" 
                            id="email" name="email" 
                            placeholder="Saisissez votre adresse mail" 
                            required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="submit-row">
                        <button type="submit">Envoyer</button>
                    </td>
                </tr>
            </table>
        </form>
        <p>
            <a href="{% url 'login' %}" class="back-to-login">Retour à la connexion</a>
        </p>
    </div>
    <img src="{% static 'images/Mascotte.png' %}" alt="Image décorative" class="bias-image">
</div>
{% endblock %}
