* {
    font-family: "Poppins", sans-serif;  
}

body {
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

div {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
    max-width: 90vw;
    border-collapse: collapse;
    border-radius: 16px;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 16px;
    overflow: hidden; 
}

th, td {
    text-align: left;
}

.info-table {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    z-index: 1000;
}

.student-info, .filtre {
    position: relative;
}

th:first-of-type {
    border-top-left-radius: 16px;
}

th:last-of-type {
    border-top-right-radius: 16px;
}

th {
    background-color: #353048;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table * {
    padding: 10px;
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.5);
}

tr:last-of-type {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 16px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 16px;
}

table.sortable th button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

table.sortable th button span {
    display: inline-block;
    margin-left: 5px; 
    font-size: 0.9em; 
    line-height: 1; 
    white-space: nowrap;
}

table.sortable th button span::after {
    display: inline-block;
    margin-left: 5px; 
}

table.sortable th button span::after {
    content: "▶";
    font-size: 0.8em;
    margin-left: 5px;
}

table.sortable th[aria-sort="ascending"] span::after {
    content: "▲";
    color: currentcolor;
}

table.sortable th[aria-sort="descending"] span::after {
    content: "▼";
    color: currentcolor;
}

table.sortable th.no-sort button span::after {
    content: none;
}

.tag {
    padding-left: 20px;
    padding-right: 20px;
}

.tag:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tag:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.red {
    background-color: #f8d8e7;
    color: #932753;
}

.black {
    background-color: rgb(60, 60, 60);
    color: rgb(170, 170, 170);
}

.green {
    background-color: #b7eebe;
    color: #336736;
}

table.sortable thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

table.sortable th {
    background-color: #353048;
    color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}